.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: black;
  text-align: center;

  & .title {
   text-align: center;
    color: #3986c0;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
  }

  & .tab-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    margin: 0 auto;
  }

  & .job-title {
    display: inline;
    margin-top: 0;
    padding-right: 1rem;
  }

  & .company-name {
    display: inline;
    margin-top: 1rem;
    padding-right: 1rem;
  }

  & .form-box{
    text-align: left;
    margin: auto;
   
  }

  & .form-label{
    margin-left: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    color: black;
    font-weight: bold;
  }

  & .form-container{
    padding: 5%;
    background-color: #e1e9f9;
    margin-top: 3%;
  }

 

  & .submitButton{
    text-align: center;
    width: 90%;
    background-color: rgb(76, 210, 148);
    color: white;
    margin: 8%
  }
}

#jobTitle {
  display: inline;
  width: 25%;
  height: 2rem;
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 2px solid #3986c0;
  font-size: 1rem;
  color: #3986c0;
  background-color: transparent;
  outline: none;
  transition: all 0.3s;
  &:focus {
    border-bottom: 2px solid #3986c0;
  }
}

#companyName {
  display: inline;
  width: 25%;
  height: 2rem;
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 2px solid #3986c0;
  font-size: 1rem;
  color: #3986c0;
  background-color: transparent;
  outline: none;
  transition: all 0.3s;
  &:focus {
    border-bottom: 2px solid #3986c0;
  }
}

.date-picker{
width: 100%;
margin-bottom: 0%;
border-radius: 4px;
border-width: 1px;
border-color: #858585;

}